body {
    background: linear-gradient(45deg, rgba(95,0,167,1) 0%, rgba(14,0,167,1) 38%, rgb(0, 134, 196) 100%);
    user-select: none;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100vh;
}

svg {
    overflow: visible;
    margin: 5%;
}

.label {
    font-size:10.5px;
    font-family:sans-serif;
    white-space:nowrap;
    fill:#ffffff;
    stroke:none;
}

.arrowHead path {
    stroke:#ffffff;
    fill:#ffffff;
}

.arrowHead {
    overflow: visible;
}

.arrow {
    fill:none;
    stroke:#ffffff;
    stroke-width:1;
    marker-end:url(#arrowHead);
}

.arrow.negative {
    marker-end: none;
    marker-start: url(#reverseArrowHead);
}

#box {
    fill:none;
    stroke:#ffffff;
    stroke-width:1;
}