body {
    background: linear-gradient(45deg, #002fca 0% 20%, #53059c);
    user-select: none;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.label {
    font-size:10.5px;
    font-family:sans-serif;
    white-space:nowrap;
    fill:#ffffff;
    stroke:none;
}

#arrowHead path {
    stroke:#ffffff;
    fill:#ffffff;
}

#arrowHead {
    overflow: visible;
}

.arrow {
    fill:none;
    stroke:#ffffff;
    stroke-width:1;
    marker-end:url(#arrowHead);
}

#box {
    fill:none;
    stroke:#ffffff;
    stroke-width:1;
}