body {
    background: linear-gradient(45deg, rgba(95,0,167,1) 0%, rgba(14,0,167,1) 38%, rgb(0, 134, 196) 100%);
    user-select: none;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100vh;
}

svg {
    overflow: visible;
    margin: 5vh 5vw;
}

.label {
    font-size:10.5px;
    font-family:sans-serif;
    white-space:nowrap;
    fill:#ffffff;
    stroke:none;
}

.arrowHead path {
    stroke:#ffffff;
    fill:#ffffff;
}

.arrowHead {
    overflow: visible;
}

.arrow {
    fill:none;
    stroke:#ffffff;
    stroke-width:1;
    marker-end:url(#arrowHead);
}

.arrow.negative {
    marker-end: none;
    marker-start: url(#reverseArrowHead);
}

#box {
    fill:none;
    stroke:#ffffff;
    stroke-width:1;
}

.toolBar {
   position: absolute;
   color: white;
   font-size: 30px;
   font-family: sans-serif;
   max-width: 50%;
   margin: 0;
}

#netForce {
    bottom: 30px;
    right: 30px;
    text-align: end;
}

#instructions {
    left:30px;
    top: 30px;
}

#credit {
    right:30px;
    top: 30px;
}

#maxForceWrapper {
    left:30px;
    bottom:30px;
}
#maxForce {
    width: 5ch;
    display: inline;
    background: none;
    font: inherit;
    color: inherit;
    border: none;
    border-bottom: 2px solid white;
}